<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">
                
                    <div>
                        <h3>Book Bus Tickets</h3>
                    </div><br><br>
                    <div class="form-group">
                        <label for="location">From:</label><br>
                        <div *ngif="Source_station">
                        <select [(ngModel)]="Selected" >
                            <option *ngfor="let s of Source_station" [(ngValue)]="s.Source_station">{{s.Source_station}}</option> 
                        </select>
                    </div>
                     
 
            </div>
        </div>
    </div>
</div>
