.about p{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 700;
    font: outline;
    font-stretch: ultra-condensed;
    font: 1em sans-serif;
    text-decoration: double;
    text-emphasis:none;
    padding: 50px;
    padding-left: 550px;
    padding-top: 50px;

}