<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="header">
        <a href="http://localhost:4200/Enquiry.html" class="btn btn-link"><h3>Bus Enquiry</h3></a>
        <a href="http://localhost:4200/Login.html" class="btn btn-link"><h3>Login</h3></a>
      </div>
    </div>
  </div>
</nav>
<app-enquiry></app-enquiry>
<!--<app-bookings></app-bookings>

 <app-enquiry></app-enquiry>
  <app-login></app-login-->
  <footer class="footer">
    <span><h3>&#169; Bus Reservation 2020</h3></span>
  </footer>
  
