<div class="container">
  <div class = "row">
    <div class="col-md-6 col-md-offset-3"> 
          <div class="jumbotron">
            <form [formGroup]="Loginform" (ngSubmit)="onSubmit()">
      <div class = "login">
        <h3>Login!!</h3><br> 
      </div>
          <div>
              <label>Email</label>
                  <input type="text" placeholder="Enter Your Email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                  <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                          <div *ngIf="f.Email.errors.required">
                               <small class="text-danger"> * Email id is required</small>
                          </div>  
                           <div *ngIf="f.Email.errors.email">
                                <small class="text-danger">* Please enter a valid email address</small>
                          </div>
                  </div><br>
                <div>
                        <label>Password</label>
                          <input type="password" placeholder="Enter Password" formControlName="Password" 
                          class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[a-z](?=.*[A-Z]).{8,}" required/>
                      <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                          <div *ngIf="f.Password.errors.required">
                               <small class="text-danger">* Password is required</small>
                          </div>
                           <div *ngIf="f.Password.errors.minlength">
                              <small class="text-danger">* Password must be at least 8 characters</small>
                          </div>
                          <div *ngIf="f.Password.errors.uppercase">
                            <small class="text-danger">* Password must contain min one UpperCase Letter</small>
                        </div>
                        <div *ngIf="f.Password.errors.number">
                          <small class="text-danger">* Password must contain min one number</small>
                      </div>
                      <div *ngIf="f.Password.errors.specialcharacter">
                        <small class="text-danger">* Password must contain min one Special Character</small>
                    </div>
                       </div>
                      </div><br>
           <button class="registerbtn" type="Login">Login</button>&nbsp;&nbsp; 
           <button class="registerbtn" type="Cancel">Cancel</button>&nbsp;&nbsp; <br><br>
              <input type="checkbox" checked="checked"> Remember me <br> <br>
              <div>
                <a href="http://localhost:4200/register" class="btn btn-link">Create a New Account</a><br> <br>
               <a href="http://localhost:4200/ForgotPassword" class="btn btn-link">I Forgot My Password?</a><br> <br>
              </div>
          </div>
    </form> 
  </div>
  </div>
</div>
</div>

