<div class="topnav">
  <img src="src/assets/images/bus.jpg" alt="Bus">
  <a href="#home">Home</a>
  <a href="#Login">Login</a>
  <a href="#Register">Register</a>

</div>
<div class="footer">
 <a href="#">About Us</a>
 <a href="#">Terms Of Use</a>
 <a routerLink="/app-feedback" routerLinkActive="active">FeedBack</a>
  <p>Copyright &#169; 2020 BusReservationTeam. All Rights Reserved </p>
  <p>We're Social! Connect with us on <i style="font-size:24px" class="fa">&#xf082;</i>
  </p>
</div>
<!-- <app-home></app-home> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-feedback></app-feedback> -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- <app-adminlayout></app-adminlayout> -->